 body{
  display:flex;
  flex-wrap: wrap;
  background-image: url(../Ressources/3d_nature_wallpapers_hd.jpg);
}

footer{
  flex: 1 0 80%;
  color: black;
  margin: 10px;
  background-color:rgba(150, 150, 150, 0.8);
  border:1px solid gray;
  padding:5px;
  box-shadow:2px 2px 10px gray;
  -moz-box-shadow:2px 2px 10px gray;
  -webkit-box-shadow:2px 2px 10px gray;
  padding: 10px;
}

header{
  flex: 1 0 90%;
  color: black;
  margin: 10px;
  padding: 10px;
}

#nav{
  flex: 1 1 10%;
  color: black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color:rgba(150, 150, 150, 0.8);
  border:1px solid gray;
  padding:5px;
  box-shadow:2px 2px 10px gray;
  -moz-box-shadow:2px 2px 10px gray;
  -webkit-box-shadow:2px 2px 10px gray;
}

#Corps{
  flex: 1 1 70%;
  color: black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color:rgba(150, 150, 150, 0.8);
  border:1px solid gray;
  padding:5px;
  box-shadow:2px 2px 10px gray;
  -moz-box-shadow:2px 2px 10px gray;
  -webkit-box-shadow:2px 2px 10px gray;
}

#Formulaire{
  padding-right: 10%;
}

#Connexion{
  flex: 1 1 70%;
  color: black;
  margin: 35%;
  padding: 35%;
  text-align: center;
  background-color:rgba(150, 150, 150, 0.8);
  border:1px solid gray;
  padding:5px;
  box-shadow:2px 2px 10px gray;
  -moz-box-shadow:2px 2px 10px gray;
  -webkit-box-shadow:2px 2px 10px gray;
}

.tabCo>tr{
  margin: 10px;
}

img{
  width: 80px;
}

#ban {
width: 100%;
height: auto;
}
